@charset "UTF-8";

#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
}
#header {
	}

/* nav bar */

ul {
	font-weight:500;
	font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}

li {
	float: left;
	background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    
    padding: 16px 1.26171em;
    text-decoration: none;
    
}

a:hover:not(.active) {
    background-color: #a9c03d;
}

.active {
background-color:#a9c03d;
}

/* nav bar */


/* slider */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body, figure { 
  margin: 0; 
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; 
  overflow: hidden; 
}
figure.slider { 
  position: relative; 
  width: 500%;
  font-size: 0; 
  animation: 45s slidy infinite; 
}
figure.slider figure { 
  width: 20%; 
  height: auto;
  display: inline-block;  
  position: inherit; 
}
figure.slider img { 
	width: 100%; 
	height: auto; 
	}
figure.slider figure figcaption {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	color: #fff;
	width: 100%;
	font-size: 2rem;
	padding: .6rem;
	display: block;
	margin-top: 119px;
}#logo img {
	margin-bottom: 15px;
	margin-top: 15px;
}

/* slider */

/* body */

#main {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

}




h1 {
	font-size: 35px;
	line-height: 45px;
}
p {
	font-size: 17px;
	line-height: 23px;
}

#footer-left img {
	width: 85%;
}
#footercontent {
	margin-left: 20px;
	margin-right: 20px; 
	padding-top: 80px;
	background-image: url(url);
}
#footercontent2 {
	padding-top: 80px;
	background-image: url(url);
}
#footer-left {
	float: left;
	display: inline-block;
	clear: right;
}
#footer-right {
	float: right;
	width: 75%;
	display: inline-block;
}
#footer-clear {
	clear: both;
	float: none;
	padding-top: 2px;
}
#copyright {
}
.links {
	font-size: small;
	background-color: fff;
}
.links a:hover{
	background-color:#fff;
}



#main p a:hover {
		background-color:#fff;

}
	
#footer-clear-right {
	float: right;
	width: 50%;
	text-align: right;
}
#footer-clear-left {
	width: 50%;
	float: left;
}


.mail {
	color: #095A8F;
}

#mail:hover{
	background-color:#fff;
}
.blue {
	color: #095A8F;
}
#date {
	text-align: center;
	margin-top: -26px;
	margin-bottom: -8px;
}
#date p {
	font-size: 1.4em;
	font-weight: bold;
	color: #1C79B4;
}
.submit input {
	width: 100px; 
	height: 40px;
	background-color: #095A8F; 
	color: #FFF;
	border: 0px; 
	font-family: 'Roboto', sans-serif;
	}

/* body */


/* form */
label {
    display:block;
    margin-top:20px;
	font-family: 'Roboto', sans-serif;
}
input, textarea {
	width:500px;
	height:18px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}
textarea {
	height:150px;
}
input:focus, textarea:focus {
    border:1px solid #095A8F;
}

#submit {
	background-color:#095A8F;
	width:127px;
	height:38px;
	border:none;
	margin-top:20px;
	cursor:pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;

}

	#submit:hover {
	    opacity:.9;
	}
#main h3 {
	color: #1C79B4;
}


/* form */

@media (max-width : 768px ){
#page {
	width: 100%;
}
li {
	clear: both;
	display: block;
	width: 100%;
}
#main p a {
	color: #333333;
}
nav ul {
	align-content:center
}
#page #header #navigation {
	width:1200%;
}
#navigation nav ul {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
h1 {
	font-size: 2.5em;
	line-height: 1.2;
}
#footer-right {
	clear: both;
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
#footer-left {
	text-align: center;
	width: 100%;
}
#footercontent #footer-left img {
	width: 25%;
}
#footer-clear-left {
	width: 100%;
	text-align: center;
	margin-bottom: -14px;
}
#footer-clear-right {
	width: 100%;
	text-align: center;
}
#footercontent {
	padding-top: 45px;
}
p {
	font-size: 1em;
	line-height: 1.4em;
}
#page #main iframe {
	width: 100%;
}
}


@media (min-width : 992px ){
}

@media (min-width: 768px) and (max-width: 992px){
#page {
	width: 100%;
}
li {
	clear: both;
	display: block;
	width: 100%;
}
nav ul {
	align-content:center
}
#page #header #navigation {
	width: 100%;
}
#navigation nav ul {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
h1 {
	font-size: 2.5em;
	line-height: 1.2;
}
#footer-right {
	clear: both;
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
#footer-left {
	text-align: center;
	width: 100%;
}
#footercontent #footer-left img {
	width: auto;
}
#footercontent {
	padding-top: 50px;
}
#footer-clear-left {
	width: 100%;
	text-align: center;
	margin-bottom: -14px;
}
#footer-clear-right {
	width: 100%;
	text-align: center;
}
p {
	font-size: 1em;
	line-height: 1.4em;
}
}

button {
	
	padding: 5px;
	color: white;
	font-size: 11.5pt;
	font-family: 'Roboto', sans-serif;
}

.someclass td {
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
}

/* gallery */

 * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
	padding-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 30px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}